<phpunit colors="true" bootstrap="./tests/bootstrap.php">
    <testsuites>
        <testsuite name="Test Suite">
            <directory>./tests/Test/Prometheus</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory suffix=".php">./vendor</directory>
                <file>./vendor/autoload.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
